*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-family: Arial, sans-serif;
}

body {
  margin: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.705);
  font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url(IMG/Backgraund.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

/* Hide anchor links */
a.links {
  display: none;
}

/* Content container */
.content {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

/* Form header */
h1 {
  font-size: 32px;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Form input fields */
input[type="text"],
input[type="date"],
input[type="submit"] {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

/* Submit button */
input[type="submit"] {
  cursor: pointer;
  background: rgba(255, 0, 0, 0.993);
  color: #fff;
  font-size: 20px;
  transition: all 0.2s linear;
  border-radius: 50px;
}

input[type="submit"]:hover {
  background: rgb(255, 65, 65);
}

/* Link to signup */
.link {
  text-align: center;
}

.link a {
  color: #333;
  font-weight: bold;
}

.link a:hover {
  color: #d73939;
}
  
  /* estilos para para ambos os formulários */
  #cadastro, 
  #login {
    position: absolute;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 500px; /* Define uma largura máxima para o formulário */
    background: rgba(247, 247, 247, 0.137);
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 140px auto;
  }
  
  Estilos para os inputs
  input:not([type="checkbox"]) {
    width: 100%; /* Ocupa 100% da largura do seu contêiner */
    margin-top: 10px; /* Aumenta a margem superior */
    padding: 12px; /* Aumenta o preenchimento */
    border: 1px solid #b2b2b2;
    box-sizing: border-box; /* Garante que a largura inclua a borda e o preenchimento */
  }
  
